@import "./mixins";

:root {
  --color-yellow: rgb(203, 201, 67);
  --background-bg: rgb(241, 233, 233);
  --text-color: black;
  --link-color: rgb(16, 57, 108);
  --border-color: #2a2a2a;

  --color-dark: #2a2a2a;

  //dark theme

  --dark-bg: var(--color-dark);
  --dark-text-color: #fff;
  --dark-link-color: var(--color-yellow);
  --dark-bprder-color: #fff;
}

$font-stack: "Poppins", sans-serif;

* {
  margin: 0;

  box-sizing: border-box;
  font-family: $font-stack;
}

//Default styles
.title {
  font-size: 2rem;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

section {
  padding: 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  background: var(--background-bg);
  color: var(--text-color);
}

.dark-mode-checkbox:checked ~ .wrapper {
  //toggle theme
  --background-bg: var(--dark-bg);
  --text-color: var(--dark-text-color);
  --link-color: var(--darl-link-color);
  --border-color: var(--border-color);
}

//Dark mode
#darkmode {
  position: fixed;
  top: 6rem;
  left: 1rem;
  display: none;
}

.dark-mode-toggle {
  position: fixed;
  top: 6rem;
  left: 2rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

//Header
.primary-header {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 2rem;
  background: var(--background-bg);
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 5px 5px rgb(12, 12, 12, 0.2);

  .logo {
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;

    div {
      &:nth-child(1) {
        h1 {
          font-size: 1.8rem;
        }
      }

      &:nth-child(2) {
        h1 {
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }

    .line {
      &::before {
        content: "";
        background: var(--color-yellow);
        height: 60%;
        width: 4px;
        left: 45%;
        position: absolute;
      }
    }
  }

  .right {
    #check,
    .menu-icon {
      display: none;
    }

    .navigation {
      padding: 0;
      margin: 0;
      gap: 2.5rem;

      li a {
        &:hover {
          color: var(--color-yellow);
        }
      }
    }
  }

  @include tablet() {
    .right {
      .menu-icon {
        display: block;
      }
      .navigation {
        flex-direction: column;
        width: 15rem;
        height: 100vh;
        background: var(--background-bg);
        position: fixed;
        left: 100%;
        top: 4.5rem;

        transition: 0.5s ease-in-out;

        li {
          padding-left: 1rem;
        }
      }

      #check:checked ~ ul {
        left: calc(100% - 15rem);
      }
    }
  }

  @include mobile() {
    .logo {
      gap: 1.5rem;

      div {
        &:nth-child(1) {
          h1 {
            font-size: 1rem;
          }
        }

        &:nth-child(2) {
          .line {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

//hero section

.section1 {
  background: var(--color-yellow);
  margin: 10rem auto 3rem auto;
  padding: 0 2rem;
  width: 80vw;
  min-height: 50vh;
  grid-template-areas: "one two";

  .left {
    margin-top: -6rem;
    grid-area: one;
    justify-content: center;
    align-items: center;
    //   width: 50%;

    img {
      height: 100%;
    }
  }

  .right {
    width: 80%;
    grid-area: two;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8rem;

    div {
      flex-direction: column;
      gap: 0.6rem;

      .name {
        font-size: 4rem;
        font-weight: bold;
        color: white;
      }

      .tag {
        color: white;
        font-size: 2.2rem;
      }
    }

    button {
      border: none;
      padding: 0.8rem 1.2rem;
      border-radius: 2rem;
      margin: 1rem 0;
      cursor: pointer;
      background: #000;
      color: #fff;
      font-size: 1rem;
    }

    a {
      span i {
        color: var(--color-yellow);
      }
    }
  }

  @include laptop() {
    grid-template-areas:
      "one"
      "two";
    padding-bottom: 2rem;

    .right {
      align-items: center;
      margin-top: 1rem;
      gap: 0.5rem;
    }
  }

  @include tablet() {
    .left {
      img {
        width: 70%;
      }
    }
  }
}

// banner section

.section2 {
  .info-container {
    margin: auto;
    padding: 2rem;
    max-width: 85%;
    min-height: 7rem;
    border: 2px solid var(--border-color);
    border-radius: 100px;
    justify-content: center;
    align-items: center;

    .info-lists {
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }

    .info-content {
      .icon-container {
        width: 3rem;
        height: 3rem;
        background: var(--color-yellow);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
      }

      i {
        font-size: 1.4rem;
        color: white;
      }

      span {
        h5 {
          letter-spacing: 2px;
        }
        p {
          color: goldenrod;
        }
      }
    }

    .info-divider {
      width: 2px;
      height: 35px;
      background: grey;
    }
  }

  @include laptop() {
    .info-container {
      width: 60%;
      padding: 1rem;
      border-radius: 30px;

      .info-lists {
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
      }

      .info-divider {
        display: none;
      }
    }
  }
}

// skill section

.section3 {
  .skills-container {
    gap: 8rem;
    justify-content: center;

    div {
      flex-direction: column;
      align-items: center;
      font-weight: 700;

      //   .html {
      //     color: red;
      //   }
    }

    i {
      font-size: 3rem;

      //   .fa-html5 {
      //   }
    }
  }

  @include laptop() {
    .skills-container {
      gap: 4rem;
    }
  }

  @include tablet() {
    .skills-container {
      gap: 1.5rem;
      flex-wrap: wrap;
      justify-content: center;
    }

    div {
      i {
        width: 4rem;
      }
    }
  }
}

// project section
.section4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .project-container {
    width: 100%;
    padding: 3rem 2rem 0 2rem;
    gap: 2.5rem;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .project-card {
      cursor: pointer;
      flex-direction: column;
      box-shadow: 0 4px 12px 4px rgb(0, 0, 0, 0.4);

      .top {
        img {
          width: 100%;
          height: 250px;
        }
      }

      .bottom {
        margin-top: 1.2rem;
        padding: 1rem;

        p {
          font-size: 1.3rem;

          &:nth-child(2) {
            margin-top: 1.2rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

// About Section
.section5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about-container {
    padding: 3rem;

    .left {
      width: 50%;
      padding: 0 2rem;
      position: relative;

      .bg {
        width: 95%;
        height: 65%;
        background: var(--color-yellow);
        position: absolute;
        bottom: 0;
        z-index: -1;
      }
      img {
        width: 100%;
      }
    }

    .right {
      width: 50%;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding: 0 2rem;

      h1 {
        font-size: 3.5rem;
      }
      p {
        &:nth-child(2) {
          font-weight: 500;
        }
        &:nth-child(3) {
          font-weight: 300;
        }
      }

      a {
        color: var(--link-color);
        text-decoration: underline;
      }

      > div {
        flex-direction: column;

        .tag {
          font-weight: 500;
        }

        div {
          display: flex;
          gap: 3rem;
        }

        span {
          padding: 0.5rem 0.7rem;
          border-radius: 0.8rem;

          &:hover {
            cursor: pointer;
            background: rgb(241, 233, 233);
            color: #fff;
          }
        }
      }
    }
  }

  @include laptop() {
    .about-container {
      flex-direction: column;

      .left,
      .right {
        width: 100%;
        text-align: center;
      }
    }
  }

  @include tablet() {
    .about-container {
      padding: 3rem 0;
      .left,
      .right {
        padding: 0;
      }
    }
  }
}

// get in touch section

.section6 {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .socials {
    padding: 4rem;
    gap: 8rem;

    i {
      font-size: 3.8rem;

      &:nth-child(1) {
        color: blue;
      }
      &:nth-child(2) {
        color: blue;
      }
      &:nth-child(4) {
        color: cyan;
      }
    }
  }

  .email-section {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .email {
      background: var(--border-color);
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      border-radius: 100px;
      gap: 1rem;
      cursor: pointer;

      a {
        color: rgb(241, 233, 233);
      }

      .send {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: var(--color-yellow);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }
  }

  @include tablet() {
    .socials {
      gap: 3rem;
      i {
        font-size: 3rem;
      }
    }
  }
}

// footer
footer {
  background: #232323;
  color: white;

  .footer-container {
    max-width: 1440px;
    flex-direction: column;
    margin: 0 auto;

    .footer-top {
      justify-content: space-around;
      align-items: flex-start;
      padding: 4rem;
      width: 80%;
      margin: 0 auto;
      text-align: center;

      div {
        flex-direction: column;

        h3 {
          text-transform: uppercase;
          text-align: center;
        }

        ul {
          flex-direction: column;
          gap: 0.5rem;

          li:hover {
            color: var(--color-yellow);
            cursor: pointer;
          }

          li {
            text-align: left;
          }
        }
      }
    }

    .footer-bottom {
      justify-content: center;
      padding-bottom: 2rem;
    }
  }

  @include mobile() {
    .footer-top {
      flex-direction: column;
      align-items: center;
    }
  }
}

//Scroll-to-top
.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--color-yellow);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 999;
  cursor: pointer;

  .scroll-btn {
    font-size: 1.5rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: arrow infinite 1.5s ease;
  }
}

@keyframes arrow {
  0% {
    top: 50%;
  }
  50% {
    top: 70%;
    opacity: 0.1;
  }
  100% {
    top: 40%;
  }
}
